.create{
    display: flex;
    height: 100vh;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    /* d-flex vh-100 bg-primary justify-content-center align-item-center */
}
.container{
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;
    background-color: white;
    padding: 3px;
    border-radius:10px;
    /* w-50 h-50 bg-white rounded p-3 */
}
input{
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    margin: 10px;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
}
label{
    display: block;
}
.select{
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    width: 200px;
}